/* app.css */
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size:48px;
}

.page {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.column
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title
{
    font-size: 36px;
}

.list select {
    width: 800px;
    height: 200px;
    text-align: center;
    font-size: 48px;
}

.output textarea{
    width: 800px; 
    height: 600px;
    box-sizing: border-box;
    text-align: left;
    overflow-y: auto; /* Add scroll if content overflows */
    resize: none;
    font-size: 18px;
}